body {
	background-color: #080c28;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	color: white;
}

.heading {
	color: white;
}

.centre {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

#presentation {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.icon {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#hal {
  width: 50%;
  height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#recordBtn {
<<<<<<< HEAD
	background: #080c28;
	/* width: 100px;
	height: 100px; */
=======
	background: #d11d47;
	width: 200px;
	height: 200px;
>>>>>>> 68bdd9a8663c8e0695459049b03c9f62886fefa5
}
