#assistant-canvas {
    /* border: 1px solid black; */
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    
}

/* canvas {
    background-color: blue;
} */

body {
    background-color: #6497b1;
}

.assistantHolder {
    padding-top: 100px
}