doctype
html
    head
        title= "Stream to Wav"
        script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        button(onclick="startRecording()") Start Recording
        button(onclick="stopRecording()") Stop Recording
        button(onclick="playAudio()") Play
        script(src="recorder.js")
        audio(id= 'rep' controls='', autoplay='')
            source(src='http://localhost:3710/repeat.mp3', type='audio/mpeg')
